@media only screen and (max-width: 600px) {
    .main__description--title {
        font-size: 30px;
    }
    .footer {
        align-items: flex-start;
        flex-direction: column;
    }
}